.sidebar {
  /* Sidebar styles... */
  width: 250px; /* Set the initial width of the sidebar */
  transition: all 0.3s ease-in-out; /* Add transition for smooth animation */
}

.sidebar.closed {
  width: 0; /* Set the width of the closed sidebar to 0 */
}

.expanded-page {
  margin-left: 0;
  width: 1345px; /* Remove the left margin when the sidebar is closed */
}
